*
{
    /*property name : property value;*/
    margin: 0px; 
    padding: 0px;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*sets backgroudn color of property name*/
    background-color: rgb(23, 24, 26);
    padding: 10px 30px;
    position: sticky;
    top: 0;
}

.logo img
{
    width: 100px;
}

header h1
{
    text-align: center;
    color: #ffffff;
    flex: 1;
    font: 50px "Times New Roman";
    font-weight: 800;
    font-style: bold;
}

.nav-bar
{
    display: flex;
    font-size: large;
    gap: 30px;
    list-style-type: none;
    padding-right: 30px;
}

.socials
{
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    gap: 10px;
}

.socials img
{
    width: 100px;
    height: 100px;
}

.nav-bar a
{
    color: #ffffff;
}

.nav-bar .current
{
    color: gold;
}

a:link
{
    text-decoration: none;
}

a:visited 
{
    text-decoration: none;
}

a:hover 
{
    text-decoration: underline;
}

.content
{
   width: 100%;
   padding-left: 10px;
   padding-bottom: 25px;
   background-color:#1d1c1e;
}

.content p
{
    color: gold;
}

.list-aboutme
{
    margin-left: 20px;
    list-style-type: square;
}

.home-image
{
    border-style: groove;
    border-width: 2px;
    border-radius: 500px;
    border-color: gold;
}
footer
{
    width: 100%;
    text-align: center;
    background-color: #1d1c1e;
    color: #ffffff;
    position: fixed;
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-style: bold;
}

.projects-table
{
    margin: auto;
    margin-top: 10px;
    border-collapse: collapse;
}

.projects-table td, th
{
    border: 1px;
    border-color: white;
    border-style: double;
    padding: 0.5px;
    text-align: center;
    color: white;
}