*
{
    /*property name : property value;*/
    margin: 0px; 
    padding: 0px;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*sets backgroudn color of property name*/
    background-color: rgba(23, 24, 26, 0.94);
    padding: 10px 30px;
    position: sticky;
    top: 0;
}

.logo img
{
    width: 100px;
}

header h1
{
    text-align: center;
    color: #ffffff;
    flex: 1;
    font: 50px "Times New Roman";
    font-weight: 800;
    font-style: bold;
}

.nav-bar
{
    display: flex;
    font-size: large;
    gap: 30px;
    list-style-type: none;
    padding-right: 30px;
}

.socials
{
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    gap: 10px;
}

.socials img
{
    width: 100px;
    height: 100px;
}

.nav-bar a
{
    color: #ffffff;
}

.nav-bar .current
{
    color: gold;
}

a:link
{
    text-decoration: none;
}

a:visited 
{
    text-decoration: none;
}

a:hover 
{
    text-decoration: underline;
}

.content
{
   width: 100%;
   padding-top: 15px;
   padding-bottom: 25px;
   background-color:#1c1e1ce4;
}

.content p
{
    color: gold;
}

.content .abtMeText{
    color:gold;
    text-decoration: underline;
}

.list-aboutme
{
    padding-left: 20px;
    list-style-type: square;
}

.home-image
{
    border-style: groove;
    border-width: 2px;
    border-radius: 500px;
    border-color: gold;
}
footer
{
    width: 100%;
    text-align: center;
    background-color:#1c1e1ce4;
    color: #ffffff;
    position: fixed;
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-style: bold;
}

.projects-table
{
    border-collapse: collapse;
    margin: auto;
    margin-top: 10px;
}

.projects-table td, .projects-table th
{
    border: 1px;
    border-color: white;
    border-style: double;
    padding: 0.5px;
    text-align: center;
    color: white;
}

.content form{
    width: fit-content;
    margin: auto;
    text-align: left;
    padding: 5px;
}

.content legend
{
    color: white;
    text-align: center;
}

.content fieldset
{
    color: white;
    padding: 3px;
}

.content label{
    display: inline-block;
    vertical-align: top;
    width: 100px;
}

.content input, .content textarea{
    margin-bottom: 5px;
    width: 250px;
    padding: 6px;
    border: 1px solid #bbb;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}