*
{
    /*property name : property value;*/
    margin: 0px; 
    padding: 0px;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*sets backgroudn color of property name*/
    background-color: #1a032a;
    padding: 10px 30px;
    position: sticky;
    top: 0;
}

.logo img
{
    width: 30px;
}

header h1
{
    text-align: center;
    color: #ffffff;
    flex: 1;
    font: 50px "Times New Roman";
    font-weight: 800;
    font-style: bold;
}

.nav-bar
{
    display: flex;
    gap: 40px;
    list-style-type: none;
}

.socials
{
    padding-left: 30px;
    display: flex;
    gap: 10px;
}

.socials img
{
    width: 100px;
    height: 100px;
}

.nav-bar a
{
    color: #ffffff;
}

.nav-bar .current
{
    color: #e9cc13;
}

a:link
{
    text-decoration: none;
}

a:visited 
{
    text-decoration: none;
}

a:hover 
{
    text-decoration: underline;
}

.content
{
   width: 100%;
   padding-left: 10px;
   padding-bottom: 25px;
   background-image: url(images/dont-even-joke-lad-8.jpg);
   background-size: cover;
   background-position: center;
}

.list-aboutme
{
    margin-left: 20px;
    list-style-type: square;
}

.home-image
{
    border-style: groove;
    border-width: 2px;
    border-radius: 500px;
    border-color: #e9cc13;
}
footer
{
    width: 100%;
    text-align: center;
    background-color: #1a032a;
    color: #ffffff;
    position: fixed;
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-style: bold;
}