*
{
    /*property name : property value;*/
    margin: 0px; 
    padding: 0px;
}

header
{
    width: 100%;
    align-items: center;
    /*sets backgroudn color of property name*/
    background-color: #1a032a;
    padding-bottom: 10px;
    padding-left: 7.5px;
}

header h1
{
    text-align: center;
    color: #ffffff
}

.nav-bar
{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.nav-bar a
{
    color: #ffffff;
}

.nav-bar .current
{
    color: #e9cc13
}

a:link
{
    text-decoration: none;
}

a:visited 
{
    text-decoration: none;
}

a:hover 
{
    text-decoration: underline;
}

.content
{
   width: 100%;
}

footer
{
    width: 100%;
    text-align: center;
    background-color: #1a032a;
    color: #ffffff;
    position: fixed;
    bottom: 0px;
}